
html, body {
    height: 95.5%;
}
 body {
    overflow: hidden;
    background-color: gray;
 }

#head {
    margin: auto;
    width: 50%;
    padding: 10px;  
    text-align: center;
}

.container {
    height: 100%;
    position: relative;
    border: 3px solid white;
}