body {
    color: white;
    background-color: mediumaquamarine;
}

.header {
    position: relative;
    display: flex;
    border: 5px black;
    border-style: dotted;
    width: 100%;
}

#grp {
   flex: 1 1 auto; 
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 30px;
}

#title {
    flex: 1 1 auto;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

.score {
    flex: 1 1 auto;
    border: 3px white;
    border-style: dotted;
    width: 10%;
}
.main-container {
    display: flex;
    border: 3px white;
    border-style: dotted;
    width: 100%;
}

.one-cont {
    border: 3px black;
    border-style: dotted;
    width: 50%;
    text-align: center;
}

.two-cont {
    border: 3px black;
    border-style: dotted;
    width: 50%;
    text-align: center;
}

.tri-cont {
    display: none;
}

img {
    vertical-align: middle;
}