body{
    background: #B0E0E6;
}

.title{
    height: auto;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: none;
}

.discription{
    height: auto;
    padding-top: 0px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: 2px 2px #242424;
    text-size-adjust: auto;
}

.start{
    position: absolute;
    left: 50%;
    padding-top: 80px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#button {
    background-color: rgba(112, 128, 144, 0.465);
    border: none;
    color: white;
    border: 2px solid #555555;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-shadow: 1px 1px #000000;
}

#button:hover{
    background-color: slategray;
    color: white;
}

.disclamer{
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 1300px){
    .discription{
        font-size: 3vw;
    }
}

@media screen and (min-height: 601px){
    .disclaimer{
        position: absolute;
        bottom: 5px;
    }
}

@media screen and (max-height: 600px){
    .disclaimer{
        padding-top: 100px;
    }
}

@media screen and (min-width: 1301px){
    .discription{
        font-size: 40px;
    }
}

img {
    display: block;
    max-width: 100%;   
    margin-left: auto;
    margin-right: auto;   
    pointer-events: none
}