<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/gameover.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
</head>
  
  <body>
    <div class="gameover">
        <p> GAME <br> OVER </p>
    </div>
    <div class="score">
        <p> Score: {{score}} <p>
    </div>
    <div class="best">
        <p>Best: {{best}}</p>
    </div>
    <div class="restart">
        <form method="GET" action="/play">
            <button type="submit" id="button">Try Again</button>
        </form>
    </div>
    
  </body>


