<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="start.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
</head>

<body>
<div class="title" style="max-width:1500px;">
    <img src="maybe.png" alt="The Youtube Higher Lower Game"> 
</div>
<div class="discription">
    <p>Guess which youtube video thumbnail has more views</p>
</div>
<div class="start">
    <button type="submit" id="button">Start</button>
</div>
<div class="disclaimers">
    <p>Based on data collected in early 2021</p>
</div>

</body>