body{
    background: #B0E0E6;
}

.title{
    height: auto;
    padding-top: 50px;
    font-family: 'Noto Sans JP', sans-serif;;
    font-size: 150px;
    text-align: center;
    text-shadow: 5px 5px #808080;
    background: none;
    line-height: 150px;
}

.discription{
    height: auto;
    padding-top: 0px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 20px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    pointer-events: none
}