body{
    background: #B0E0E6;
}

.title{
    height: auto;
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: none;
}

.discription{
    height: auto;
    padding-top: 0px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: 2px 2px #242424;
    text-size-adjust: auto;
}

.start{
    
}

@media screen and (max-width: 1300px){
    .discription{
        font-size: 3vw;
    }
}

@media screen and (min-width: 1301px){
    .discription{
        font-size: 40px;
    }
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    pointer-events: none
}